.firstTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    margin-bottom: 2.5rem;
}

.Span_Categories {
    color: dimgray;
    animation: appear 500ms ease forwards;
}

input[type='text'] {
    border-radius: .15rem;
    width: 15rem;
    color: silver;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}