:root {
    --backgroundSideBar: #404040;
}


.Container {
    background: var(--backgroundSideBar);
    border-radius: .15rem;
    padding: 1.5rem;
    max-width: 20rem;
    min-height: 50vh;
    color: white;
}

.Category {
    gap: 2.5rem;
}

.sideBarCategories {
    height: 100%;
    width: 100%;
}

.Categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
}

.Categories li {
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: .15rem;
    padding: 1px;
    overflow: hidden;
    z-index: 1;
}

.Categories li a {
    background: var(--backgroundSideBar);
    background-size: 10% 10%;
}

.Categories li a::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #000f49, #030380, #00fff7);
    transition: 800ms;
    z-index: -1;
}

.Categories li a:hover::before {
    content: '';
    inset: 0 -3px;
    animation: Rotate 1s ease-in-out forwards;

}

@keyframes Rotate {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(360deg)translateY(90%) translateX(-2%);
    }
}