.Task_List {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1.5rem;
    background-color: #404040;
    width: 85vh;
    height: 60vh;
    overflow: hidden;

    & .Remove {
     position: absolute;
     right: 5%;
     top: 2.5%;
     background: none;
     border: none;
     width: fit-content;
    }
}