
.Tasks_Management {
    display: flex;
    width: 75%;
    gap: .5rem;
    margin-top: .5rem;

    & .Item {
        & input[type='checkbox'] {
            width: 5rem;
        }
    }

    & .Tasks {
        display: inline-flex;
        justify-content: space-around;
        height: 2rem;
        width: 100%;
        border: 3px solid lightgray;
        border-radius: .25rem;
        color: black;
        font-size: large;
        font-weight: bold;

        & .Task_Name {

        }
    }


}
