*{
    font-family: "Leelawadee UI Semilight", sans-serif;
}
.List_Title {
    color: white;
    font-size: xxx-large;
}
.Container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
    background: #424242;
    border-radius: .15rem;
    width: 75%;
    min-height: 80vh;
    & .Button {
        z-index: 2;
        position: absolute;
        width: 5rem;
        height: 3rem;
        bottom: 2%;
    }
    & .List_Container{
        width: 100%;
        background: lightblue;
        & .Task_List {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25rem;
            height: 5rem;
            border-radius: .15rem;
            & .Items_List {
                display: flex;
                width: 15rem;
            }

        }
        button,
        .Close {
            cursor: pointer;
        }

    }


    .Modal_Container {
        position: absolute;
        background-color: #3a3a3a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 25rem;
        border: 1px solid #000;
        border-radius: 5%;
        box-shadow: 0 0 .15rem #fff, 0 0 .15rem #fff, 0 0 .15rem #fff, 0 0 .5rem #fff;
        left: 22%;

        & .Modal_Title {
            font-size: xxx-large;
            text-align: center;
            font-family: Arial, sans-serif;
            font-weight: bolder;
            -webkit-text-fill-color: whitesmoke;
            -webkit-animation: ColorTransition 2s infinite alternate !important;
        }

        & .Modal_Inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            gap: 2.5rem;

            & .Input {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                input[type='text'] {
                    width: 100%;
                    padding: .5rem;
                    background-color: lightgray;
                    border-radius: .25rem;
                    border: none;
                    outline: none;
                    color: black;
                }

                span {
                    color: lightgray;
                }
            }

            & .Modal_Buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5rem;
                width: 100%;

                & .Cancel {
                    background-color: #4e4e4e;
                    border-radius: .5rem;
                    color: white;
                    font-size: medium;
                    width: 4.5rem;
                    height: 2rem;
                    border: 1px solid black;

                    &:hover {
                        background-color: #813a3a;
                        transform: scale(1.1);
                        transition: 250ms ease
                    }
                }

                & .Submit {
                    background-color: #58cf58;
                    width: 4.5rem;
                    height: 2rem;
                    border-radius: .5rem;
                    color: white;
                    font-size: medium;
                    border: 1px solid black;

                    &:hover {
                        transform: scale(1.1);
                        transition: 250ms ease
                    }
                }
            }
        }
    }
}

.List {
    background: #424242;
    border-radius: .15rem;
    max-height: 25vh;
    overflow: scroll;
}


.Modal_Appear {
    animation: Appear 500ms linear forwards;
}

.Modal_Disappear {
    animation: Disappear 500ms linear forwards;
}


@keyframes Appear {
    0% {
        transform: translateY(100%) scale(0);
        opacity: 0;
    }
    25% {
        transform: translateY(50%) scaleX(25%) scaleY(100%);
    }
    50% {
        transform: translateY(25%) scaleX(50%) scaleY(150%);
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        z-index: 2;
    }
}


@keyframes Disappear {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
        z-index: 2;
    }
    25% {
        transform: translateY(25%) scaleX(50%) scaleY(120%);
    }
    50% {
        transform: translateY(50%) scaleX(25%) scaleY(100%);
    }
    100% {
        transform: translateY(100%) scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes ColorTransition {
    0% {
        -webkit-text-fill-color: blueviolet;
    }
    100% {
        -webkit-text-fill-color: white;
    }
}