.header {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
  }
  
  .newTaskForm {
    position: absolute;
    height: 103px;
    bottom: -27px;
    width: 100%;
    max-width: 736px;
    display: flex;
    gap: 8px;
    padding: 0 1rem;
    margin-left: 31rem;
  }
  
  .newTaskForm input {
    width: 34rem;
    position: absolute;
    background: black;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
    font-family: 'Terminal', sans-serif;
    height: 54px;
    margin-top: 21px;

  }

  
  .newTaskForm input::placeholder {
    color: #00ff00;
    
  }

  .newTaskForm button {
    height: 100%;
    padding: 0 16px;
    background: #259b34;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Terminal', sans-serif;
    margin-left: 35rem;
    margin-top: 23px;
    height: 49px;
    position: absolute;
  }

  img{
    width: 100px;
    margin-left: 13rem;
  }

  h1{
    position: absolute;
    color: #00ff00;
    animation: blinker 4s linear infinite;
    font-family: 'Terminal', sans-serif;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  
.text{
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
 
  
  @-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

dialog { 
  display: block; 

}

dialog:not(:target):not([open]) { 
  display: none; 
  position: absolute;
  margin-left: 33rem;
}

button{
  height: 20%;
  padding: 0 16px;
  background: #259b34;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Terminal', sans-serif;
  position: absolute;
  margin-top: 3rem;
  margin-left: -33rem;
}

a{
  margin-left: 43rem;
  margin-top: 4rem;
}
