*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Leelawadee UI Semilight", sans-serif;
}

body {
  background-color: lightgray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}